/*Navigation Area*/

nav {
  margin: 20px 0px;
}

#navBar {
  display: flex;
  height: 5vh;
  justify-content: space-between;
  text-align: center;
}

#name {
  margin: 10px;
}
/*Header Area*/
header {
  background: #f8f0e3;
  margin: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

h3 {
  color: #c65775;
  font-weight: 300;
  font-size: medium;
  text-align: left;
}
#headerIntro {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
  text-align: center;
}

#introToMe {
  margin: 40px;
  padding: 80px;
}

#jobTitle {
  color: #dd9aac;
}

#workButton {
  margin: 40px;
  float: right;
}

/*Tech Area*/

h2 {
  text-align: center;
  text-decoration: underline;
  letter-spacing: 2px;
  font-weight: 300;
  color: #c65775;
}

#myTechSkills {
  text-align: center;
  padding: 20px;
  margin-right: 140px;
  margin-left: 140px;
}

#techLogos {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

/*Project Area*/
