nav {
  margin: 20px 0px;
}

#navBar {
  display: flex;
  height: 5vh;
  justify-content: space-between;
  text-align: center;
}

#name {
  margin: 10px;
}

#headerIntro {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
  text-align: center;
}

#introToMe {
  margin: 40px;
  padding: 40px;
}
