@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: #d7879d;
}

a:hover {
  color: #c24a6b;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: #c24a6b;
}

h2 {
  text-align: center;
  text-decoration: underline;
  letter-spacing: 2px;
  font-weight: 300;
  color: #c65775;
  margin-bottom: 60px;
}

@media screen and (max-width: 375px) {
  .skillsArea,
.projectArea,
.aboutArea {
    width: 100%;
  }

  .navArea,
.headerArea,
.footerArea {
    width: 100%;
  }
}
/*Navigation Area*/
.navArea nav {
  margin: 20px 0px;
}
.navArea #navArea__flex {
  display: flex;
  height: 5vh;
  justify-content: space-between;
  text-align: center;
}
.navArea #navArea__name {
  margin: 10px;
}

/*Header Area*/
.headerArea {
  background: #f9eff2;
  margin: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.headerArea h3 {
  color: #c65775;
  font-weight: 300;
  font-size: medium;
  text-align: left;
}
.headerArea #headerArea__flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
  text-align: center;
}
.headerArea #headerArea__intro {
  margin: 40px;
  padding: 80px;
}
.headerArea #headerArea__intro {
  color: #dd9aac;
}
.headerArea #headerArea__img {
  margin: 40px;
  border-radius: 10px;
  max-width: 300px;
  float: right;
}

/*Skills Area*/
.skillsArea #skillsArea__body {
  text-align: center;
  padding: 20px;
  margin-right: 140px;
  margin-left: 140px;
}
.skillsArea #skillsArea__img {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

/*Project Area*/
.projectArea {
  margin: 20px;
}
.projectArea .projectArea__flex {
  display: flex;
  max-width: 800px;
}
.projectArea .projectArea__card {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  text-align: center;
}
.projectArea .projectArea__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.projectArea .projectArea__content {
  margin: 20px;
}
.projectArea .projectArea__button {
  background: #dd9aac;
  float: right;
}
.projectArea #projectArea__img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*About Me*/
.aboutArea h1 {
  float: left;
  margin-top: 120px;
  margin-left: 180px;
}
.aboutArea .aboutArea__container {
  width: 100%;
  height: 500px;
  background-color: #dd9aac;
  text-align: center;
  position: relative;
}
.aboutArea .aboutArea__flex {
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  padding: 20px;
}
.aboutArea .aboutArea__content {
  margin: 140px;
}
.aboutArea #aboutArea__img {
  border-radius: 10px;
  margin: 20px;
  opacity: 60%;
}

.footerArea footer {
  height: 10vh;
}
.footerArea img {
  margin-left: 20px;
  margin-right: 20px;
}
.footerArea .footerArea__container {
  background: #c65775;
}
.footerArea .footerArea__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}